//header
header .deco .ac_ic {
    background: url(../img/icon/user.png) no-repeat center;
    background-size: 100%;
}

header .deco .pw_ic {
    background: url(../img/icon/pw.png) no-repeat center;
    background-size: 100%;
}

header .fgPW {
    background: url(../img/icon/help.png) no-repeat center;
    background-size: 100%;
}

//mainWrap
.mainWrap .gameType .gameBlock .brandBtn .dg {
    background: url(../img/icon/dg_logo.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameType .gameBlock .brandBtn .sa {
    background: url(../img/icon/sa_logo.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameType .gameBlock .brandBtn .og {
    background: url(../img/icon/og_logo.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameType .gameBlock .brandBtn .ab {
    background: url(../img/icon/ab_logo.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameType .gameBlock .brandBtn .wm {
    background: url(../img/icon/wm_logo.png) no-repeat center;
    background-size: 102%;
}

.mainWrap .bet .teamName .teamBox .logo .md {
    background: url(../img/icon/md_logo.png) no-repeat center;
    background-size: 100%;
} 

.mainWrap .bet .teamName .teamBox .logo .ba {
    background: url(../img/icon/bas_logo.png) no-repeat center;
    background-size: 100%;
} 

.mainWrap .appAD .content .mainObj {
    background: url(../img/appAD/main.png) no-repeat center;
    background-size: 100%;
} 

.mainWrap .appAD .content .mainObjLight {
    background: url(../img/appAD/main_LIGHT.png) no-repeat center;
    background-size: 100%;
} 

.mainWrap .appAD .content .coinAll {
    background: url(../img/appAD/coin.png) no-repeat center;
    background-size: 100%;
} 

.mainWrap .appAD .content .light01 {
    background: url(../img/appAD/light01.png) no-repeat center;
    background-size: 100%;
} 

.mainWrap .appAD .content .light02 {
    background: url(../img/appAD/light02.png) no-repeat center;
    background-size: 100%;
} 

.mainWrap .introduce .payWayy {
    background: url(../img/payWay.png) no-repeat center;
    background-size: 100%;
} 

.mainWrap .textBox .iconArea.live {
    background: url(../img/icon/live_icon.png) no-repeat center;
    background-size: 100%;
} 

.mainWrap .textBox .iconArea.sport {
    background: url(../img/icon/sport_icon.png) no-repeat center;
    background-size: 88%;
} 

.mainWrap .textBox .iconArea.slot {
    background: url(../img/icon/slot_icon.png) no-repeat center;
    background-size: 100%;
} 

.mainWrap .textBox .iconArea.local {
    background: url(../img/icon/global_icon.png) no-repeat center;
    background-size: 100%;
} 

.mainWrap .textBox .iconArea.product {
    background: url(../img/icon/slot_icon.png) no-repeat center;
    background-size: 100%;
} 

.mainWrap .textBox .iconArea.ui {
    background: url(../img/icon/ui_icon.png) no-repeat center;
    background-size: 100%;
} 

//mq

.mq .mqTitle .mqIC {
    background: url(../img/icon/mq_ic.png) no-repeat center;
    background-size: 100%;
}

//bg 
.bg {
    background: url(../img/BG.png) no-repeat top center;
    background-size: 100%;
}